<div class="credit-card">
    <div class="credit-card-content">
      <div class="credit-card-front">
        <div class="bank-name fs-2">{{bankName}}</div>
        <div class="bank-chip"><i class="fas fa-microchip fs-3"></i></div>
        <div class="card-number fs-5">{{cardNumber}}</div>
        <div class="expiration-date">
          <span>exp date</span> <span> {{ expirationDateExtractor() }}</span>
        </div>
        <div class="card-holder-name fs-5">{{cardHolderName}}</div>
      </div>
      <div class="credit-card-back">
        <div class="magnetic-strip"></div>
        <div class="signature-box">
          <div class="row">
            <div class="col-7 signature"><i class="fas fa-signature"></i><i class="fas fa-signature"></i></div>
            <div class="col-5 last-nums">{{lastfourDigitsExtractor()}}</div>
          </div>
        </div>
        <div class="cvc-code">{{secretCvc}}</div>
        <div class="hologram"><i class="fas fa-photo-video"></i></div>
      </div>
    </div>
  </div>