<div class="container-fluid">
  <div class="row">
    <!-- Prima lista (sinistra) -->
    <div class="col-lg-3 col-sm-12">
      <h1>New Requests List</h1>
      <div class="row flex-column requestsList" aria-orientation="vertical">
        <div
          *ngFor="let request of newRequests; let i = index"
          class="col request"
          data-toggle="pill"
          aria-controls="v-pills-home"
          aria-selected="true"
          (click)="onSelectNewRequest(i)"
        >
          <div class="row">
            <div class="col-10">
              {{ newRequests[i].name }}
              {{ newRequests[i].lastName }}
            </div>
            <div
              class="col-2"
              [ngClass]="{
                'led-green': requestsLight[i] === 'green',
                'led-yellow': requestsLight[i] === 'yellow',
                'led-red': requestsLight[i] === 'red'
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Spazio per le richieste -->
    <div class="col-lg-6 col-sm-12 singleRequest">
      <div *ngIf="requestVisibility">
        <app-request
          [name]="selectedRequest.name"
          [lastName]="selectedRequest.lastName"
          [dateOfBirth]="selectedRequest.dateOfBirth"
          [email]="selectedRequest.email"
          [light]="selectedLight"
          [result]="selectedRequest.result"
          [header]="selectedRequest.header"
        ></app-request>
        <div class="buttons" *ngIf="buttonVisibility">
          <button class="btn btn-success" (click)="onAcceptRequest()">
            Accept
          </button>
          <button class="btn btn-danger" (click)="onDeclineRequest()">
            Decline
          </button>
        </div>
      </div>
    </div>

    <!-- Seconda lista (destra) -->
    <div class="col-lg-3 col-sm-12">
      <h3>Older Request List</h3>
      <div class="nav flex-column requestsList" aria-orientation="vertical">
        <div
          *ngFor="let request of oldRequests; let i = index"
          class="nav-link request"
          data-toggle="pill"
          aria-controls="v-pills-home"
          aria-selected="true"
          (click)="onSelectOldRequest(i)"
        >
          {{ oldRequests[i].name }}
          {{ oldRequests[i].lastName }}
          <div [ngClass]="{}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
