.oldRequestList {
  margin-bottom: 10vh;
}

.request {
  cursor: pointer;
  background-color: #f04a27;
  color: white;
  border-bottom: 1px solid black;
  border-radius: 4px;
  justify-content: center;
  height: 2rem;
  width: 100%;
  margin-top: 0.4rem;
  background-color: rgba(240, 248, 255, 0.656);
  padding: 3px;
}

.singleRequest {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.led-green {
  width: 20px;
  height: 20px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
}

.led-yellow {
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px;
}

.led-red {
  width: 20px;
  height: 20px;
  background-color: #f00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.admin-dash-box {
  position: relative;
  top: 10vh;
}

.downloadButton {
  display: flex;
  justify-content: center;
}

#newRequestHeader {
  display: flex;
  justify-content: space-evenly;
}
