.container-admin {
  min-height: 85vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "list-left accept-decline list-right";
}

.list-on-right {
  grid-area: list-right;
  overflow: auto;
}

.list-on-left {
  grid-area: list-left;
  overflow: auto;
}

h1 {
  font-family: var(--nice-font-bold);
}

.accept-refuse {
  grid-area: accept-decline;
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .container-admin {
    height: calc(85 * 1.5vh);
    grid-template-areas:
      "list-left"
      "accept-decline"
      "list-right";
  }

  .list-on-left {
    height: 35vh;
  }

  .accept-refuse {
    height: 50vh;
    width: 100%;
  }

  .list-on-right {
    height: 35vh;
  }

  .div-center {
    width: 96%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1204px) {
  .container-admin {
    grid-template-areas:
      "list-left list-right"
      "accept-decline accept-decline";
  }

  .requestsList {
    width: 60%;
    margin: 0 auto;
  }

  .list-on-right {
    height: 35vh;
  }

  .accept-refuse {
    height: 50vh;
  }

  .div-center {
    width: 70%;
  }
}

@media screen and (min-width: 1205px) {
  .div-center {
    width: 90%;
  }

  .requestsList {
    width: 70%;
    margin: 0 auto;
  }

  .list-on-right {
    width: 30vw;
  }

  .accept-refuse {
    width: 40vw;
  }

  .list-on-right {
    width: 30vw;
  }

  .div-center {
    width: 70%;
  }
}

.request {
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0.3);
  color: white;
  border-radius: 4px;
  justify-content: center;
  height: 2rem;
  width: 100%;
  font-weight: 500;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.led-green {
  width: 20px;
  height: 20px;
  background-color: #abff00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px;
}

.led-yellow {
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #474601 0 -1px 9px,
    #f6ff00 0 2px 12px;
}

.led-red {
  width: 20px;
  height: 20px;
  background-color: #f00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px;
}

.admin-dash-box {
  position: relative;
  top: 10vh;
}

.downloadButton {
  display: flex;
  text-align: center;
}

#newRequestHeader {
  display: flex;
  justify-content: space-evenly;
}

.confirmButton {
  height: fit-content;
}

.div-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-row {
  height: max-content;
}
