AdminBar
<hr />
<br />

<div class="containerRequestList">
  <!-- Prima lista (sinistra) -->
  <div class="requestsList">
    <div
      class="nav flex-column nav-pills"
      aria-orientation="vertical"
      *ngFor="let request of requests"
    >
      <div
        class="nav-link request"
        data-toggle="pill"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        Request
        <div class="led-green"></div>
      </div>
    </div>
  </div>

  <!-- Seconda lista (destra) -->
  <div class="requestsList">
    <div
      class="nav flex-column nav-pills"
      aria-orientation="vertical"
      *ngFor="let request of requests"
    >
      <div
        class="nav-link request"
        data-toggle="pill"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        Request
        <div class="led-green"></div>
      </div>
    </div>
  </div>
</div>
