<div class="container user-dash-box">
  <div *ngIf="modeSpione">
    <div class="row">
      <div class="column">
        <button class="btn btn-warning">
          <i class="fas fa-undo"></i> back
        </button>
      </div>
      <div class="column_destra"></div>
      <div class="column">
        <h2>{{ cliente }}</h2>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h2>N.conto:</h2>
      </div>
      <div class="column">
        <h2>{{ n_conto }}</h2>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h2>Iban:</h2>
      </div>
      <div class="column">
        <h2>{{ iban }}</h2>
        <h2>Saldo:</h2>
        <h2>{{ saldo }}&euro;</h2>
      </div>
      <div class="column">
        <button class="btn btn-warning" id="copia" (click)="copia()">
          copia <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!modeSpione">
    <div class="row">
      <div class="column">
        <button class="btn btn-warning">Back</button>
      </div>
      <div class="column_destra"></div>
      <div class="column">
        <h2>{{ cliente }}</h2>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h2>N.conto:</h2>
      </div>
      <div class="column">
        <h2>{{ n_conto }}</h2>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h2>Iban:</h2>
      </div>
      <div class="column">
        <h2>{{ iban }}</h2>
        <h2 style="text-align: center">Saldo:</h2>
        <h2>{{ saldo }}&euro;</h2>
      </div>
      <div class="column">
        <button>copia</button>
      </div>
    </div>
  </div>
</div>
