
  <div *ngIf="modeSpione">
    <div class="row">
      <div class="column">
        <button class="back">
          back
        </button>
      </div>
      <div class="column_destra"></div>
      <div class="column">
        
        
<h1>{{ cliente }}</h1>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h1>N.conto:</h1>
      </div>
      <div class="column">
        <h1>{{ n_conto }}</h1>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h1>Iban:</h1>
      </div>
      <div class="column_center">
        <h1 class="iban">{{ iban }}</h1>
        <h1>Saldo:</h1>
        <h1>{{ saldo }}&euro;</h1>
      </div>
      <div class="column">
        
     
      </div>
    </div>
  </div>
  <div *ngIf="!modeSpione">
    <div class="row">
      <div class="column">
        <button class="back">Back</button>
      </div>
      <div class="column_destra"></div>
      <div class="column">
        <h1>{{ guest.name }} {{guest.last_name}}</h1>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h1>N.conto:</h1>
      </div>
      <div class="column">
        <h1>{{ guest.n_conto.numero_conto }}</h1>
      </div>
      <div class="column"></div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column_destra">
        <h1>Iban:</h1>
      </div>
      <div class="column">
        <h1>{{ guest.n_conto.iban }}</h1>
        <h1 style="text-align: center">Saldo:</h1>
        <h1>{{ guest.n_conto.saldo }}&euro;</h1>
      </div>
      <div class="column">
        <button>copia</button>
      </div>
    </div>
  </div>

