* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-primary);
}

.modal {
  top: 50%;
  color: black;
}

.dash-container {
  width: 96vw;
  min-height: 80vh;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  display: grid;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
  position: relative;
  font-family: poppins, sans-serif;
}

a {
  color: rgb(91, 91, 91);
}

img {
  display: block;
}

h1 {
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.h1-special {
  font-size: xx-large;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

h3 {
  font-size: 0.87rem;
  margin-bottom: 0;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75;
}

aside {
  height: 80vh;
  background-color: rgb(240, 248, 255);
  color: rgb(73, 73, 73);
  /* display: none; */
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .top .icons > span.close {
  display: none;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
}

.primary-text {
  color: var(--clr-primary);
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;
  height: 63vh;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  margin-left: 2rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  gap: 1rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a:hover {
  color: rgb(0, 89, 255);
  cursor: pointer;
}

aside .sidebar a:hover span {
  margin-left: 0.8rem;
}

/* aside .icons .profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: black;
  margin-left: 1rem;
} */
.foto-modal {
  padding: 0.8rem;
}

.foto-modal .chiudi {
background-color: gray;
}

.my-image {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-left: 1rem;
  font-size: initial;
}

.my-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main .insights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  color: white;
}

main .insights > div {
  background-color: rgba(20, 22, 47, 0.795);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius-1);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insights > div:hover {
  box-shadow: none;
}

main .insights > div span {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

main .insights > div.num-conto span {
  background-color: var(--clr-primary);
}

main .insights > div.iban span {
  background-color: var(--clr-danger);
}

main .insights > div.saldo span {
  background-color: var(--clr-success);
}

main #menu-btn {
  display: none;
}

.decoration-1 {
  height: 5rem;
  width: 10rem;
  border-radius: 5rem;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1457904375453-3e1fc2fc76f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
}

.decoration-2 {
  height: 5rem;
  width: 10rem;
  border-radius: 5rem;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1457904375453-3e1fc2fc76f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
}

.decoration-3 {
  height: 5rem;
  width: 10rem;
  border-radius: 5rem;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1457904375453-3e1fc2fc76f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
}

@media screen and (max-width: 1345px) {
  .dash-container {
    grid-template-columns: 7rem auto 23rem;
    row-gap: 1rem;
  }

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }

  main .insights {
    grid-template-columns: 1fr;
  }

  main .insights .num-conto .decoration-1 {
    display: none;
  }

  main .insights .iban .decoration-2 {
    display: none;
  }

  main .insights .saldo .decoration-3 {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .dash-container {
    width: 99vw;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: 0;
    width: 18rem;
    z-index: 3;
    padding-right: var(--card-padding);
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
    margin-left: 1rem;
    justify-content: start;
  }

  aside .top .icons > span.close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    /* margin-top: 8rem; */
    padding: 0 1rem;
    width: 100vw;
  }

  .right {
    width: 94vw;
    margin: 0 auto 4rem;
  }

  main #menu-btn {
    display: block;
  }
}

.modal {
  display: flex !important;
  justify-content: center;
  width: max-content;
  height: max-content;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 400px) {
  .iban-text-resize {
    font-size: 18px;
  }
}

  

