.app-bar-body {
  position: fixed;
  top: 0;
  z-index: 100;
}

.bar-row-1 {
  height: 10vh;
  width: 100%;
  align-items: center;
  background-color: rgba(20, 22, 47, 0.795);
  display: flex;
  padding: 0;
  margin: 0;
}

.eye-button {
  padding: 0;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  margin-top: 5px;
}

.man-button {
  padding: 0;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  transform: translateY(7px);
}

.img-speed-man {
  position: relative;
  transform: translateY(-4px);
}

img {
  height: 8vh;
}

.brand-name {
  cursor: default;
}

.logo-central {
  position: relative;
  display: inline;
}

.fa-mobile-alt {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.fa-university {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.home-guest-button {
  padding: 0;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  transform: translateY(7px);
}
