.app-bar-body {
    position: fixed;
}

.bar-row-1 {
    height: 15vh;
    width: 100%;
    background-color: rgba(169, 169, 169, 0.518);
    display: flex;
}

.bar-row-2 {
    height: 7.5vh;
    width: 100%;
    background-color: rgb(245, 0, 0);
    color: rgb(247, 247, 247);
}

.eye-button {
    padding: 0;
    border: none;
    background: none;
    color: cornflowerblue;
    margin-top: 12px;
}

.man-button {
    padding: 0;
    border: none;
    background: none;
}

img {
    height: 10vh;
}