<div class="container-fluid p-0 app-bar-body">
  <div class="row bar-row-1">
    <div class="col-8 brand my-2 ms-2 p-0">
      <span class="brand-logo" (click)="toHome()"
        ><div class="logo-central">
          <i class="fas fa-mobile-alt"
            ><i class="fas fa-university"></i
          ></i></div
      ></span>
      <span class="brand-name fs-4 mx-2" (click)="toHome()"> JavaIsland</span>
    </div>
    <div class="col my-2 man-run-box text-end p-0">
      <button class="man-button" (click)="logOut()">
        <i class="fas fa-sign-out-alt fa-2xl"></i>
        <br>
        <span>Logout</span>
      </button>
    </div>

    <div class="col my-2 text-center p-0">
      <button (click)="openCloseToggle()" class="eye-button">
        <i *ngIf="eyeOpen" class="fas fa-eye fs-2"></i>
        <i *ngIf="!eyeOpen" class="fas fa-eye-slash fs-2"></i>
      </button>
    </div>
  </div>
</div>
