<div class="container-fluid p-0 app-bar-body">
    <div class="row bar-row-1">
        <div class="col brand my-2 ms-2">
            <span class="brand-logo"><i class="fas fa-dollar-sign fs-4"></i></span>
            <span class="brand-name fs-4 mx-2"> JavaIsland</span>
        </div>
        <div class="col my-2">Qualcosa</div>
        <div class="col my-2">Una terza cosa</div>
    </div>
    <div class="row bar-row-2 text-center">
        <div class="col my-2">Opzioni..</div>
        <div class="col my-2">Opzioni..</div>
        <div class="col my-2">Opzioni..</div>
        <div class="col my-2">Opzioni..</div>
    </div>
</div>
