<div class="container-fluid p-0">
    <div class="row footer-body text-center g-1">
        <div class="col"><button class="foot-button" (click)="onDashBoard()"><img src="../assets/img/dashborad-green.png" alt="dashboard-green"></button></div>
        <div class="col"><button class="foot-button" (click)="onPayment()"><img src="../assets/img/payment-green.png" alt="payment-green"></button></div>
        <div class="col"><button class="foot-button" (click)="onMovementDetail()"><img src="../assets/img/dettaglio-movimento-green.png" alt="dettaglio-movimento"></button></div>
    </div>
</div>