.footer-body {
  background-color: rgb(20, 22, 47);
  height: 10vh;
  color: rgb(224, 228, 235);
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.social-row {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: x-large;
}

img {
  height: 8vh;
}

.foot-button {
  border: none;
  background: none;
}

.icon {
  color: rgb(255, 255, 255);
}

.fa-euro-sign:hover {
  color: rgb(171, 245, 212);
  font-size: 35px;
}
.fa-house:hover {
  color: rgb(171, 245, 212);
  font-size: 35px;
}
.fa-money-bill-transfer:hover {
  color: rgb(171, 245, 212);
  font-size: 35px;
}
