.footer-body {
  background: rgb(51, 28, 97);
  background: linear-gradient(
    180deg,
    rgba(51, 28, 97, 1) 7%,
    rgba(2, 0, 36, 1) 100%
  );
  height: 10vh;
  color: rgb(224, 228, 235);
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.social-row {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: x-large;
}

img {
  height: 8vh;
}

.foot-button {
  border: none;
  background: none;
}
