<div class="container-fluid p-0 mx-0">
  <div class="row footer-body text-center g-1">
    <div class="col">
      <button class="foot-button" (click)="onDashBoard()">
        <i class="fa-solid fa-house fa-2xl icon"></i>
        <br />
        <label>User-Dash</label>
      </button>
    </div>
    <div class="col">
      <button class="foot-button" (click)="onPayment()">
        <i class="fas fa-euro-sign fa-2xl icon"></i>
        <br />
        <label>Payment</label>
      </button>
      
    </div>
    <div class="col">
      <button class="foot-button" (click)="onMovementDetail()">
        <i class="fa-solid fa-money-bill-transfer fa-2xl icon"></i>
      </button>
      <br />
      <label>Mov-Detail</label>
    </div>
  </div>
</div>
