.assicurazioni-container {
  margin-bottom: 25vh;
  min-height: 100vh;
}

.image {
  background-image: url(https://images.unsplash.com/photo-1475503572774-15a45e5d60b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100vw;
  background-position-y: 40%;
}

.extra-large-h1 {
  font-size: 3.5rem;
  font-family: var(--nice-font-bold);
}

@media (min-width: 20em) {
  .image {
    height: 20vh;
  }

  .large-h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 30em) {
  .image {
    height: 30vh;
  }

  .large-h1 {
    font-size: 2.8rem;
    line-height: 0.5rem;
  }
}

@media (min-width: 40em) {
  .image {
    height: 40vh;
  }

  .large-h1 {
    font-size: 3rem;
  }
}
