/* .column {
  float: left;
  width: 60%;
}
.columnBack {
  width: 20%;
  padding: 10px, 10px, 10px, 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  text-align: center;
}
input {
  width: 50%;
  
}
.login {
  float: left;
  margin-left:25%;
}
.cancel {
  float: right;
  margin-right:25%;
}
button{
  
  background-color: transparent;
  color:limegreen;
  border-radius: 50px;
  border-color:limegreen;
  width:20%;
  height: 20%;
  font-size: 100%;
  margin-top:15px;
}
.back{

  background-color: transparent;
  color:limegreen;
  border-radius: 50px;
  border-color:limegreen;
  width:100%;
  height: 20%;
  font-size: 100%;
  margin-top:15px;
} */

h1 {
  font-size: 3rem;
  font-family: var(--nice-font-bold);
}

.login-box {
  position: relative;
  top: 10vh;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: center;
}

.safety-container {
  background: rgb(255, 255, 255);
  margin-top: 20px;
  min-height: 50vh;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  position: relative;
}

li {
  font-size: larger;
  margin-bottom: 20px;
}

.side-image {
  position: relative;
  transform: translate();
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.back-img-lock {
  position: relative;
  width: 100%;
  object-fit: cover;
  transform: translateY(-7%);
  background-color: aliceblue;
  
}

.blue-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  transform: translateY(-7%);
  margin-right: 12px;
  background: rgb(66, 31, 203);
  background: linear-gradient(270deg, rgba(19, 43, 201, 0.666) 39%, rgba(0,0,0,0) 100%);
  
}