<div class="container user-container">
  <app-custom-alert
    *ngIf="completeOperation"
    (closePressed)="this.completeOperation = false"
  ></app-custom-alert>
  <h1 class="text-center my-3">Accesso Utente</h1>
  <button class="" (click)="backButton()">
    <i class="fas fa-undo"></i> indietro
  </button>
  <form [formGroup]="login_form">
    <div class="row form-row">
      <div class="col-lg-4 col-sm-12 mb-3">
        <div class="form-group">
          <label for="email">Email: </label>
          <input
            type="email"
            class="form-control"
            id="email"
            #email
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
          />
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 mb-3">
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            #password
            placeholder="Password"
            formControlName="password"
          />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 mb-3">
        <div class="row button-row text-center">
          <div class="col-4">
            <button (click)="login(email.value, password.value)">
              log In <i class="far fa-check-circle"></i>
            </button>
          </div>
          <div class="col-4">
            <button (click)="delete()">
              cancella <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <button (click)="switch()">
          Registrati <i class="fas fa-sync"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container safety-container">
  <h2 class="text-center my-3">
    <i class="fas fa-user-lock fs-4"></i> Suggerimenti per la sicurezza
  </h2>
  <div class="row">
    <div class="col-lg-7 col-12-sm">
      <ul class="mb-3">
        <li>
          Le password sono segrete e non trasferibili. Non condividerle con
          nessuno e non inviarle via e-mail o SMS.
        </li>
        <li>
          Non accedere a eventuali link contenuti in e-mail o SMS sospetti o da
          mittenti sconosciuti.
        </li>
        <li>
          Installa e mantieni attivato e aggiornato un antivirus e un
          antimalware.
        </li>
        <li>
          Contatta Linea JavaIsland al numero 123456789 per segnalare eventuali
          problemi di sicurezza relativi ai tuoi conti o alle tue carte.
        </li>
      </ul>
    </div>
    <div class="col-lg-5 col-12-sm side-image">
      <img
        class="back-img-lock"
        src="https://images.unsplash.com/photo-1614064641938-3bbee52942c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="lock-image"
      />
      <div class="blue-gradient"></div>
    </div>
  </div>
</div>
