:root {
  --clr-neutral-900: hsl(210, 17%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(219, 86%, 48%);
}

.top-section-home {
  position: relative;
  height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.dark-layer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.674);
  position: absolute;
  top: 0;
}

.big-text {
  font-family: "Alfa Slab One", cursive;
  font-size: 5vw;
}

.dark-layer p {
  height: 60px;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.second-section {
  min-height: 50vh;
  width: 100%;
  background-color: aliceblue;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-account {
  background-color: rgba(47, 157, 212, 0.421);
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.other-account {
  color: aliceblue;
  background-color: rgb(34, 34, 68);
  border-radius: 15px;
  padding: 20px;
}

.other-account:hover {
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 1);
}

.to-details {
  background-color: rgb(17, 90, 227);
  border-radius: 8px;
  text-align: center;
  color: white;
  padding: 5px;
}

.to-details:hover {
  background-color: rgb(17, 90, 227);

  cursor: pointer;
}

.latest-payments {
  background-color: rgb(17, 90, 227);
  color: white;
  height: 100%;
  border-radius: 15px;
  padding: 20px;
}

.third-section {
  min-height: 70vh;
  width: 100%;
  background-color: rgb(30, 133, 223);
}

.fourth-section {
  min-height: 70vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
  padding-top: 20px;
}

.rand-account {
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.bank-account {
  height: 60vh;
}

.apri-conto-row-big {
  display: flex;
  align-items: center;
}

.side-image {
  background-image: url(https://images.unsplash.com/photo-1532033375034-a29004ea9769?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.trova-conto {
  padding-top: 20px;
}

.the-border {
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
  margin: 2px;
}

.the-border:hover {
  border: 1px solid green;
}

.first-trova-conto-row {
  display: flex;
  align-items: center;
  align-content: center;
}

.conto-font-bold {
  font-weight: 600;
}

.card {
  color: var(--clr-neutral-100);
  background-image: url(https://images.unsplash.com/photo-1579226905180-636b76d96082?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 35ch;
  margin: 20px;
  border-radius: 0.5em;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

@media (hover: hover) {
  .card-content {
    transform: translateY(75%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
  }
  .card-title::after {
    transform: scaleX(0);
  }
}

.card-title {
  position: relative;
  font-size: xx-large;
}

.slide-text {
  position: relative;
  left: 20%;
  transition: 300ms ease;
  transition-delay: 500ms;
}

.card:hover .slide-text {
  left: 0;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 5px;
  left: calc(var(--padding) * -1);
  bottom: -3px;
  width: calc(100% + var(--padding));
  background: rgb(110, 227, 165);
  transition: transform 500ms ease;
  transform-origin: left;
}

.card:hover .card-title::after {
  transform: scale(1);
}

.text-muted {
  color: rgb(180, 180, 180);
}

.main-card {
  width: 80vw;
  color: aliceblue;
  background-image: url(https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 40vh;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;
}

.text-h1-main {
  background-color: rgba(255, 255, 255, 0.515);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: xx-large;
}

.text-main {
  background-color: rgba(255, 255, 255, 0.515);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-size: xx-large;
}

.dark-background-layer {
  width: 80vw;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.567);
  transform: translateX(-12px);
  z-index: 1;
}

.main-account-row {
  z-index: 50;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}