<div class="container-fluid p-0 m-0">
  <div class="top-section-home text-center">
    <div class="dark-layer">
      <div class="text-box">
        <p class="big-text">New Online Banking</p>
        <p class="big-text">Save time to save money</p>
        <p class="big-text">The future is now, and in your hands.</p>
      </div>
    </div>
  </div>
  <div class="second-section">
    <div class="row container-fluid">
      <div class="col-lg-7 col-sm-12 mb-3">
        <div class="container main-account" (click)="toConto(conti[0].id)">
          <div class="row d-flex justify-content-between mb-3">
            <div class="col-3 fs-5">Main Account</div>
            <div class="col-3"><span>Available funds</span></div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-sm-6">
              <p class="fs-6">JavaIsland Savings Account</p>
              <p class="fs-6">n.conto: {{ conti[0]?.numero_conto ?? "" }}</p>
            </div>
            <div class="col-lg-4 col-sm-6 fs-2 text-end">
              <span>{{ conti[0]?.saldo ?? "" }} &euro;</span>
            </div>
          </div>
          <div class="row">
            <div class="col-3 to-details p-2 fs-6">Click to Details</div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12">
        <div class="container latest-payments">
          <div class="row d-flex flex-column">
            <div class="col fs-3 mb-4">Latest Payments</div>
            <div class="col">
              <div
                class="row d-flex mb-2"
                *ngFor="let transaction of transactions"
              >
                <div class="col-4">{{ transaction?.description ?? "" }}</div>
                <div class="col-4">{{ transaction?.date ?? "" }}</div>
                <div class="col-4 text-end">
                  {{ transaction?.amount ?? "" }}&euro;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-section container-fluid">
    <!-- Carousel con altri conti -->
    <div *ngIf="conti.length > 1" class="container-fluid py-3 row mx-0">
      <div
        *ngFor="let conto of conti | slice: 1; index as i"
        class="col-lg-4 col-md-6 col-sm-12"
      >
        <div class="card">
          <div class="card-content">
            <h1 class="card-title">
              <span class="slide-text">Account n.{{ i + 2 }}</span>
            </h1>
            <div class="card-body">
              <div class="row d-flex flex-column">
                <div class="col">
                  <p class="fs-6">JavaIsland Savings Account</p>
                  <p class="fs-6">
                    n.conto: {{ conti[i + 1]?.numero_conto ?? "" }}
                  </p>
                </div>

                <div class="col text-center">
                  <p>Available funds</p>
                  <h1>{{ conti[i + 1]?.saldo ?? "" }}&euro;</h1>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div
                class="col-6 to-details p-2 fs-6"
                (click)="toConto(conti[i + 1].id)"
              >
                Click to Details
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fourth-section">
    <div class="container apri-conto">
      <div class="row apri-conto-row-big">
        <div class="col-lg-6 side-image"></div>
        <div class="col-lg-6 col-sm-12 text-center">
          <div class="row d-flex flex-column trova-conto text-center">
            <div class="col">
              <h1>{{ "trova il conto per te" | uppercase }}</h1>
            </div>
            <div class="col">
              <div class="row first-trova-conto-row mb-3">
                <div class="col-4 conto-font-bold">
                  Che tipo di conto cerchi?
                </div>
                <div class="col the-border">
                  <i class="fas fa-user-check fs-4"></i>
                  <br />
                  <span>Conto Standard</span>
                </div>
                <div class="col the-border">
                  <i class="fas fa-briefcase fs-4"></i>
                  <br />
                  <span>Conto Bussiness</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row first-trova-conto-row mb-3">
                <div class="col-4 conto-font-bold">
                  Quali servizi ti servono?
                </div>
                <div class="col the-border">
                  <i class="fab fa-creative-commons-nc-eu fs-4"></i>
                  <br />
                  <span>Zero spese</span>
                </div>
                <div class="col the-border">
                  <i class="fab fa-internet-explorer fs-4"></i>
                  <br />
                  <span>Internet Banking</span>
                </div>
                <div class="col the-border">
                  <i class="fas fa-credit-card fs-4"></i>
                  <br />
                  <span>Carta di credito</span>
                </div>
              </div>
            </div>
          </div>
          <button class="text-center" (click)="newConto()">
            apri nuovo conto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
