<!-- <div class="container-fluid p-0 m-0">
  <div class="top-section-home text-center">
    <div class="dark-layer">
      <div class="text-box">
        <p class="big-text">New Online Banking</p>
        <p class="big-text">Save time to save money</p>
        <p class="big-text">The future is now, and in your hands.</p>
      </div>
    </div>
  </div>
  <div class="second-section">
    <div class="row container-fluid">
      <div class="col-lg-7 col-sm-12">
         da modificare prendere valore id conto  -->
<!-- <div class="container main-account" (click)="toConto(0)">   
          <div class="row d-flex justify-content-between mb-3">
            <div class="col-3 fs-5">Main Account</div>
            <div class="col-3"><span>Available funds</span></div>
          </div>
          <div class="row">
            <div class="col-8">
              <p class="fs-6">JavaIsland Savings Account</p>
              <p class="fs-6">1234****567890</p>
            </div>
            <div class="col-4 fs-2 text-end"><span>50000 &euro;</span></div>
          </div>
          <div class="row">
            <div class="col-3 make-playment p-2 fs-6" (click)="toPayment()">
              Make Payment
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12">
        <div class="container latest-payments">
          <div class="row d-flex flex-column">
            <div class="col fs-3 mb-3">Latest Payments</div>
            <div class="col">
              <div class="row d-flex">
                <div class="col-7">Something bought</div>
                <div class="col-5 text-end">123&euro;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-section container-fluid">
     Carousel con altri conti -->

<!-- </div>

  <div class="fourth-section"></div>
</div> -->

<div *ngFor="let conto of conti">
  <button (click)="toConto(conto.id)">n.conto: {{ conto.numero_conto }}</button>
</div>
<button (click)="newConto()">apri nuovo conto</button>
