<div class="container-fluid p-0 m-0">
  <app-custom-alert
    *ngIf="completeOperation"
    (closePressed)="this.completeOperation = false"
  ></app-custom-alert>
  <!-- <div class="top-section-home text-center">
    <div class="dark-layer">
      <div class="text-box">
        <p class="big-text">Online Banking</p>
        <p class="big-text">Risparmia tempo</p>
        <p class="big-text">per risparmiare denaro.</p>
      </div>
    </div>
  </div> -->
  <div class="second-section">
    <h1 class="text-center title pt-2">I miei conti</h1>
    <div class="container-fluid py-3 row mx-0 justify-content-center">
      <p class="text-center" *ngIf="noAccountError">
        Verrai reindirizzato alla Home tra {{ seconds }}
      </p>
      <div
        *ngFor="let conto of conti; index as i"
        class="col-lg-6 col-md-6 col-sm-12"
      >
        <div class="card top-cards the-card-container">
          <div class="card-content">
            <h1 class="card-title">
              <span class="slide-text">Conto n.{{ i + 1 }}</span>
            </h1>
            <div class="card-body">
              <div class="row d-flex flex-column">
                <div class="col">
                  <p class="fs-6">B-n-B Account Risparmi</p>

                  <p class="fs-6 ">
                    N.conto: <span class="numero-conto">{{ conti[i]?.accountNumber ?? "" }}</span>
                  </p>
                </div>

                <div class="col text-center">
                  <p>Iban</p>
                  <h5 class="iban-text-resize">
                    {{ conti[i]?.iban ?? "" }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div
                class="col-6 to-details p-2 fs-6"
                (click)="toConto(conti[i].id)"
              >
                Dettagli
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="third-section container-fluid pt-2" *ngIf="conti.length > 2">
    <h1>Altri Conti</h1>
    <div class="container-fluid py-3 row mx-0 justify-content-center">
      <div
        *ngFor="let conto of conti | slice: 2; index as i"
        class="col-lg-4 col-md-6 col-sm-12"
      >
        <div class="card">
          <div class="card-content">
            <h1 class="card-title">
              <span class="slide-text">Conto n.{{ i + 3 }}</span>
            </h1>
            <div class="card-body">
              <div class="row d-flex flex-column">
                <div class="col">
                  <p class="fs-6">B-n-B Account Risparmi</p>
                  <p class="fs-6">
                    N.conto: {{ conti[i + 2]?.accountNumber ?? "" }}
                  </p>
                </div>

                <div class="col text-center">
                  <p>Iban</p>
                  <h5>
                    {{ conti[i + 2]?.iban ?? "" }}
                  </h5>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div
                class="col-6 to-details p-2 fs-6"
                (click)="toConto(conti[i + 2].id)"
              >
                Dettagli
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fourth-section">
    <div class="container apri-conto">
      <div class="row apri-conto-row-big">
        <div class="col-lg-6 side-image"></div>
        <div class="col-lg-6 col-sm-12 text-center">
          <div class="row d-flex flex-column trova-conto text-center">
            <div class="col">
              <h1>{{ "trova il conto per te" | uppercase }}</h1>
            </div>
            <div class="col">
              <div class="row first-trova-conto-row mb-3">
                <div class="col-4 conto-font-bold">
                  Che tipo di conto cerchi?
                </div>
                <div
                  class="col the-border custom-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  data-bs-custom-class="custom-tooltip"
                  title="Apri uno dei conti sopra e clicca nuovo conto nel menù"
                >
                  <i class="fas fa-user-check fs-4"></i>
                  <br />
                  <span>Conto Standard</span>
                </div>
                <div class="col the-border" id="col-red-bent">
                  <i class="fas fa-briefcase fs-4"></i>
                  <br />
                  <span>Conto Bussiness</span>
                  <span class="red-bent">in arrivo</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row first-trova-conto-row mb-3">
                <div class="col-4 conto-font-bold">
                  Quali servizi ti servono?
                </div>
                <div class="col the-border">
                  <i class="fab fa-creative-commons-nc-eu fs-4"></i>
                  <br />
                  <span>Zero spese</span>
                </div>
                <div class="col the-border">
                  <i class="fab fa-internet-explorer fs-4"></i>
                  <br />
                  <span>Internet Banking</span>
                </div>
                <div class="col the-border">
                  <i class="fas fa-credit-card fs-4"></i>
                  <br />
                  <span>Carta di credito</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
