.red {
  background-color: rgb(216, 112, 147);
  color: rgb(79, 19, 19);
}

.green {
  background-color: rgb(0, 128, 0);
  color: white;
}

.alert-box {
  position: fixed;
  z-index: 1;
  width: 500px;
  height: 4rem;
  left: 50%;
  top: 10vh;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.3rem;
}

@media screen and (max-width: 570px) {
  .alert-box {
    width: 100%;
  }
}

@media screen and (min-width: 571) and (max-width: 1000px) {
  .alert-box {
    width: 50vw;
  }
}
    


.close {
  color: white;
  float: right;
  position: relative;

  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  border: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

.alert-message {
    position: relative;
    top: 20%;
}