<div class="container sign-up-box">
  <form [formGroup]="signUp_form">
    <div class="row">
      <div class="column">
        <button class="btn btn-warning">back <i class="fas fa-undo"></i></button>
      </div>
      <div class="column">
        <button class="fake " disabled>"fake"</button>
        <br />
        <label class="center">Name:</label>
        <br />
        <input
          class="destra"
          id="name"
          type="text"
          #name
          formControlName="name"
        />
        <br />
        <label>Last Name:</label>
        <br />
        <input
          class="destra"
          id="last_name"
          type="text"
          #lastName
          formControlName="last_name"
        />
        <br />
        <button class="signUp btn btn-warning" [disabled]="signUp_form.invalid">SignUp <i class="fas fa-check"></i></button>
      </div>
      <div class="column">
        <div class="center">
          <h2>User SignUp</h2>
          <div class="password">
            <label>Password:</label>
            <br />
            <input
              id="password"
              type="password"
              #password
              formControlName="password"
            />
          </div>
        </div>
      </div>
      <div class="column">
        <button class="fake" disabled>"fake"</button>
        <br />
        <label>Date of Birth:</label>
        <br />
        <input
          id="date"
          type="date"
          value="1900-1-1"
          min="1900-1-1"
          max="2030-12-31"
          #date
          formControlName="date"
        />
        <br />
        <label>Email:</label>
        <br />
        <input id="email" type="text" #email formControlName="email" />
        <br />
        <button class="cancel btn btn-warning" (click)="delete()">cancel <i class="far fa-times-circle"></i></button>
      </div>
      <div class="column"></div>
    </div>
  </form>
  <hr />
</div>
