<!-- new Form -->
<div class="container form-container">
  <h1 class="text-center my-3">User SignUp</h1>
  <button class="back" (click)="backButton()"><i class="fas fa-undo"></i> back</button>
  <form [formGroup]="signUp_form">
    <div class="row spread-inputs">
      <div class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input
            class="form-control"
            id="name"
            placeholder="Name"
            type="text"
            #name
            formControlName="firstName"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="date-picker" class="form-label">Date of Birth:</label>
          <input
            type="date"
            value="1900-1-1"
            min="1922-1-1"
            max="2099-12-31"
            #date
            formControlName="birthDate"
            class="form-control"
            id="date-picker"
          />
        </div>
      </div>
    </div>
    <div class="row spread-inputs">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="last-name" class="form-label">Last Name:</label>
          <input
            id="last_name"
            class="form-control"
            type="text"
            #lastName
            formControlName="last_name"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="email" class="form-label">Email: </label>
          <input
            type="email"
            class="form-control"
            placeholder="name@example.com"
            id="email"
            #email
            formControlName="email"
          />
        </div>
      </div>
    </div>
    <div class="row centered-input">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="mb-3">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <input
            type="password"
            class="form-control"
            #password
            formControlName="password"
            id="password"
            aria-describedby="passwordHelp"
          />
          <div class="form-text" id="passwordHelp">
            Password9£ upper + 8char + number + symbol
          </div>
        </div>
      </div>
    </div>
    <div class="row button-row text-center justify-content-around">
      <div class="col-lg-3 col-sm-4 mb-2">
        <button [disabled]="signUp_form.invalid" (click)="signUp()">
          SignUp <i class="far fa-check-circle"></i>
        </button>
      </div>
      <div class="col-lg-3 col-sm-4">
        <button (click)="delete()">cancel <i class="fas fa-times"></i></button>
      </div>
    </div>
  </form>
</div>
