input {
  width: 100%;
  border-radius: 50px;
}

h1 {
  font-size: 300%;
}

.sign-up-box {
  position: relative;
  top: 10vh;
}

.spread-inputs {
  display: flex;
  justify-content: space-evenly;
}

.centered-input {
  display: flex;
  justify-content: center;
}
