<div class="card" style="margin: 30px">
  <div
    class="card-header"
    [ngClass]="{
      'card-header-red': light === 'red',
      'card-header-green': light === 'green',
      'card-header-grey': light === 'grey',
      'card-header-yellow': light === 'yellow'
    }"
  >
    <h3>
      Tipo di Richiesta:
      {{ type === "CLOSURE_REQUEST" ? "Chiusura" : "Attivazione" }}
    </h3>
  </div>
  <div class="card-body">
    <div class="personal-data">
      <h3>Nome: {{ firstName }}</h3>
      <h3>Cognome: {{ lastName }}</h3>
    </div>
    <div class="account-data">
      <h3>Id Conto: {{ idConto }}</h3>
      <h3>Email: {{ email }}</h3>
    </div>
    <div class="result-container">
      <h3
        [ngClass]="{
          'header-red': header === 'red',
          'header-green': header === 'green'
        }"
      >
        <span *ngIf="result !== undefined" style="color: white"
          >Risultato:
        </span>
        {{ result }}
      </h3>
    </div>
  </div>
</div>
