.card-header-grey {
  background-color: rgb(57, 57, 57);
}

.card-header-green {
  background-color: rgb(103, 211, 103);
}

.card-header-red {
  background-color: rgb(198, 111, 111);
}

.card-header-yellow {
  background-color: rgb(211, 216, 103);
}

.card-body {
  background-color: rgba(240, 248, 255, 0.3);
}

.card {
  background-color: transparent;
}

.card-header {
  display: flex;
  justify-content: center;
}

.header-green {
  color: rgb(13, 238, 13);
}

.header-red {
  color: red;
}

.personal-data {
  display: flex;
  justify-content: space-around;
}

.account-data {
  display: flex;
  justify-content: space-around;
}

.result-container {
  display: flex;
  justify-content: center;
}
