<div class="card" style="margin: 30px">
  <div
    class="card-header"
    [ngClass]="{
      'card-header-red': light === 'red',
      'card-header-green': light === 'green',
      'card-header-grey': light === 'grey',
      'card-header-yellow': light === 'yellow'
    }"
  >
    <h3>{{ firstName }} {{ lastName }}</h3>
  </div>
  <div class="card-body">
    <h3>Date of birth: {{ dateOfBirth }}</h3>
    <h3>Email: {{ email }}</h3>
    <h3
      [ngClass]="{
        'header-red': header === 'red',
        'header-green': header === 'green'
      }"
    >
      <span *ngIf="result !== ''" style="color: white">Result: </span>
      {{ result }}
    </h3>
  </div>
</div>
