/* Titolo */

.header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 300%;
}

/* Lista transazioni */

#transactionHeader {
  display: flex;
  justify-content: space-between;
}

button {
  margin-bottom: 5px;
}

.table {
  margin-bottom: 10vh;
  background-color: white;
}
