/* Titolo */

h1 {
  margin-top: 15px;
  font-size: 300%;
}

.h1-special {
  font-weight: 800;
}

/* Grafico  */

.graphic {
  display: flex;
}

/* Header Transazioni */

.row {
  height: fit-content;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#debitAmount {
  margin-left: 10%;
  display: inline;
}

#creditAmount {
  display: inline;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.buttonHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  height: fit-content;
}

button {
  margin-left: 2px;
  height: fit-content;
}

.mat-form-field {
  margin-bottom: 5px;
}

/* Lista transazioni */

#debitAmount {
  color: red;
  margin-right: 5px;
}

#creditAmount {
  color: green;
}

.my-table-container {
  min-height: 35vh;
}

.my-table {
  background-color: transparent;
}

.description {
  display: flex;
  justify-content: center;
}

.graph-container {
  background-color: aliceblue;
}

span {
  height: fit-content;
}

.mat-form-field {
  background-color: white;
  color: black;
}

::ng-deep .mat-select-arrow {
  color: #b292d9;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #b292d9;
}

.light {
  background-color: #b292d9;
}

.dark {
  background-color: white;
}

/* :host /deep/ .light-select > .mat-select-arrow,
:host /deep/ .light-select > .mat-select-value-text {
  color: black !important;
}

:host /deep/ .dark-select > .mat-select-arrow,
:host /deep/ .dark-select > .mat-select-value-text {
  color: white !important;
}

.light-label {
  color: white !important;
}

.dark-label {
  color: black !important;
} */

::ng-deep mat-label {
  color: #b292d9;
}

::ng-deep mat-form-field {
  background-color: transparent !important;
}

:host /deep/ .mat-select-value-text {
  color: #b292d9 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  color: white !important;
}

.mat-option {
  color: black !important;
}

::ng-deep .mat-select-panel {
  background: white !important;
}

.account-container {
  margin-bottom: 10vh;
}

.amount-container {
  text-align: right;
}

.amount-header {
  text-align: right;
}
