/* Titolo */

h1 {
  font-size: 300%;
}

/* Grafico  */

.graphic {
  display: flex;
}

/* Header Transazioni */

.row {
  height: fit-content;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#debitAmount {
  margin-left: 10%;
  display: inline;
}

#creditAmount {
  display: inline;
}

.buttonHeader {
  display: flex;
  justify-content: flex-end;
}

span {
  height: fit-content;
}

button {
  margin-left: 2px;
  height: fit-content;
}

/* Lista transazioni */

#debitAmount {
  color: red;
  margin-right: 5px;
}

#creditAmount {
  color: green;
}

.table {
  margin-bottom: 10vh;
  background-color: white;
}

.description {
  display: flex;
  justify-content: center;
}

.graph-container {
  background-color: aliceblue;
}

span {
  height: fit-content;
}
