<div class="container payment-box">
  <hr />
  <br />

  <!-- Bottoni di scelta -->
  <div id="choice">
    <button class="btn btn-primary" (click)="onBankTransfer()">
      Bank Trasfer <i class="fas fa-exchange-alt"></i>
    </button>
    <button class="btn btn-primary" (click)="onPhoneTopUp()">
      Phone top-up <i class="fas fa-mobile-alt fs-4"></i>
    </button>
  </div>

  <!-- Form per il bonifico  -->
  <form
    [formGroup]="bankTransferForm"
    (ngSubmit)="onBankTransferSubmit()"
    *ngIf="bankTransferChoice"
  >
    <mat-horizontal-stepper [linear]="isLinear" class="formStepper">
      <mat-step label="Recipient Data">
        <div class="dataForm">
          <label for="First Name">First Name</label>
          <mat-form-field>
            <input
              id="name"
              type="text"
              placeholder="First Name"
              matInput
              required
              class="form-control"
              formControlName="firstName"
            />
          </mat-form-field>
          <label for="Last Name">Last Name</label>
          <mat-form-field>
            <input
              id="lastName"
              type="text"
              placeholder="Last Name"
              matInput
              required
              formControlName="lastName"
            />
          </mat-form-field>
        </div>
        <button class="btn btn-success" matStepperNext>Next</button>
      </mat-step>

      <mat-step label="Transfer Data">
        <div class="dataForm">
          <label for="Iban">Iban</label>
          <mat-form-field>
            <input
              id="iban"
              type="number"
              placeholder="Iban"
              matInput
              required
              formControlName="iban"
            />
          </mat-form-field>
          <label for="Amount">Amount</label>
          <mat-form-field>
            <input
              id="amount"
              type="number"
              placeholder="Amount"
              matInput
              required
              formControlName="amount"
            />
          </mat-form-field>
        </div>
        <button class="btn btn-danger" matStepperPrevious>Back</button>
        <button class="btn btn-success" matStepperNext>Next</button>
      </mat-step>
      <mat-step label="Confirm" completed="false">
        <p>First Name: {{ bankTransferForm.get("firstName").value }}</p>
        <p>Last Name: {{ bankTransferForm.get("lastName").value }}</p>
        <p>Iban: {{ bankTransferForm.get("iban").value }}</p>
        <p>Amount: {{ bankTransferForm.get("amount").value }}</p>
        <button class="btn btn-danger" matStepperPrevious>Back</button>
        <button class="btn btn-success" type="submit">Confirm</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form>

  <!-- Form per la ricarica -->
  <form
    [formGroup]="phoneTopUpForm"
    (ngSubmit)="onPhoneTopUpSubmit()"
    *ngIf="phoneTopUpChoice"
  >
    <mat-horizontal-stepper [linear]="isLinear" class="formStepper">
      <mat-step label="Phone Data">
        <div class="dataForm">
          <label for="Phone Number">Phone Number</label>
          <mat-form-field>
            <input
              id="phoneNumber"
              type="text"
              placeholder="Phone Number"
              matInput
              required
              class="form-control"
              formControlName="phoneNumber"
            />
          </mat-form-field>
          <label for="Phone Company">Phone Company</label>
          <mat-form-field>
            <select class="form-select" aria-label="Default select example">
              <option selected>Phone Company</option>
              <option value="1">Tim</option>
              <option value="2">Vodafone</option>
              <option value="3">Wind</option>
            </select>
          </mat-form-field>
        </div>
        <button class="btn btn-success" matStepperNext>Next</button>
      </mat-step>

      <mat-step label="Transfer Data">
        <div class="dataForm">
          <label for="Iban">Iban</label>
          <mat-form-field>
            <input
              type="number"
              placeholder="Iban"
              matInput
              required
              formControlName="iban"
            />
          </mat-form-field>
          <label for="Amount">Amount</label>
          <mat-form-field>
            <input
              type="number"
              placeholder="Amount"
              matInput
              required
              formControlName="amount"
            />
          </mat-form-field>
        </div>
        <button class="btn btn-danger" matStepperPrevious>Back</button>
        <button class="btn btn-success" matStepperNext>Next</button>
      </mat-step>
      <mat-step label="Confirm" completed="false">
        <p>First Name: {{ bankTransferForm.get("firstName").value }}</p>
        <p>Last Name: {{ bankTransferForm.get("lastName").value }}</p>
        <p>Iban: {{ bankTransferForm.get("iban").value }}</p>
        <p>Amount: {{ bankTransferForm.get("amount").value }}</p>
        <button class="btn btn-danger" matStepperPrevious>Back</button>
        <button class="btn btn-success" type="submit">Confirm</button>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
