.payment-container {
  min-height: 95vh;
  margin-bottom: 10vh;
}

/* Titolo */

h1 {
  font-size: 300%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.h1-special {
  font-family: poppins, sans-serif;
  font-size: xx-large;
}

.generalContainer {
  display: flex;
  justify-content: space-evenly;
}

/* Saldo */

.balance {
  display: flex;
  justify-content: center;
}

/* Scelta */

#choiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  margin-top: 7px;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
}

/* Form */

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.mat-stepper-horizontal {
  background-color: transparent;
  border-radius: 7px;
}

.formStepp {
  background-color: transparent;
  color: black !important;
}

.light-form-container {
  background-color: white;
}

.dark-form-container {
  background-color: #b298d289;
}

.mat-form-field {
  margin-top: 16px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.dataForm {
  display: flex;
  justify-content: space-evenly;
}

.confirmForm {
  display: flex;
  justify-content: center;
}

.dataSummary {
  display: block;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 7px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  background-color: rgba(20, 22, 47, 255);
}

::ng-deep .mat-stepper-horizontal-line {
  background-color: white;
}

::ng-deep .mat-step-text-label {
  color: white;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #666fc8;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: rgba(36, 49, 177, 255);
}

::ng-deep .mat-select-value-text {
  color: black !important;
}

::ng-deep .mat-select-placeholder .mat-select-min-line {
  color: black !important;
}

:host /deep/ .mat-select-value-text {
  color: black !important;
}

:host /deep/ .mat-select-placeholder .mat-select-min-line {
  color: black !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  color: black !important;
}

:host /deep/ .mat-form-field-appearance-legacy .mat-form-field-infix {
  color: black !important;
}

.confirmButton {
  height: fit-content;
}

.redButton {
  margin-right: 5px;
}

.input {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .generalContainer {
    display: block;
  }

  #choiceContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .paymentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  ::ng-deep .mat-stepper-horizontal-line {
    display: none;
  }
  ::ng-deep .mat-step-text-label {
    display: none;
  }

  ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    position: absolute;
    left: 40%;
  }

  ::ng-deep .mat-step-header {
    position: relative;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: flex;
    justify-content: center;
  }
}

/* Consigli sulla sicurezza */

.dark-safety-container {
  width: 81%;
  margin-top: 50px;
  min-height: fit-content;
  border-radius: 8px;
  position: relative;
  left: 10%;
  background-color: #b298d289;
  padding-top: 10px;
}

.light-safety-container {
  width: 81%;
  margin-top: 50px;
  min-height: fit-content;
  border-radius: 8px;
  position: relative;
  left: 10%;
  background-color: white;
  padding-top: 10px;
}

.safety-container {
  background: transparent;
  color: rgb(0, 0, 0);
}

.back-img-lock {
  position: relative;
  width: 100%;
  object-fit: cover;
  transform: translateY(-7%);
  background-color: aliceblue;
}

li {
  font-size: larger;
  margin-bottom: 20px;
}

.side-image {
  position: relative;
  transform: translate();
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}
