/* Sfondo pagina  */

.payment-box {
  border-radius: 20px;
  background: rgb(56, 24, 65);
  background: radial-gradient(
    circle,
    rgba(119, 53, 66, 1) 0%,
    rgba(56, 37, 84, 0.5) 95%
  );
  height: 80vh;
  position: relative;
  top: 10vh;
}

/* Scelta */

#choice {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
}

/* Form */

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.formStepper {
  background-color: white;
  color: black;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.dataForm {
  display: flex;
}
