/* Titolo */

h1 {
  font-size: 300%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.generalContainer {
  display: flex;
  justify-content: space-evenly;
}

/* Saldo */

.balance {
  display: flex;
  justify-content: center;
}

/* Scelta */

#choiceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  margin-top: 7px;
}

.button {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px;
}

/* Form */

.paymentContainer {
  width: 50%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.mat-stepper-horizontal {
  background-color: white;
  border-radius: 7px;
}

.formStepper {
  background-color: white;
  color: black;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.dataForm {
  display: flex;
  justify-content: space-evenly;
}

.confirmForm {
  display: flex;
  justify-content: center;
}

.dataSummary {
  display: block;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 7px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  background-color: rgba(20, 22, 47, 255);
}

::ng-deep .mat-stepper-horizontal-line {
  background-color: white;
}

::ng-deep .mat-step-text-label {
  color: white;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #666fc8;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: rgba(36, 49, 177, 255);
}

.confirmButton {
  height: fit-content;
}

.redButton {
  margin-right: 5px;
}

.input {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .generalContainer {
    display: block;
  }

  #choiceContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .paymentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  ::ng-deep .mat-stepper-horizontal-line {
    display: none;
  }
  ::ng-deep .mat-step-text-label {
    display: none;
  }

  ::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    position: absolute;
    left: 40%;
  }

  ::ng-deep .mat-step-header {
    position: relative;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: flex;
    justify-content: center;
  }
}

/* Consigli sulla sicurezza */

.safety-container {
  background: rgb(255, 255, 255);
  margin-top: 50px;
  min-height: fit-content;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  position: relative;
}
