@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */

:root {
  --clr-primary: rgb(0, 89, 255);
  --clr-danger: rgba(255, 0, 68, 0.789);
  --clr-success: rgb(10, 192, 0);

  --card-border-radius-1: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem rgba(132, 129, 200, 0.18);
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(34, 34, 68);
  color: white;
  min-height: 100vh;
}

.home-box {
  border-radius: 20px;
  min-height: 80vh;
  position: relative;
  top: 10vh;
}

button {
  background-color: rgb(36, 49, 177);
  color: white;
  padding: 7px;
  border-radius: 7px;
}

.redButton {
  background-color: red;
}

button:hover {
  background-color: rgb(61, 73, 180);
}

button:focus {
  background-color: rgb(61, 73, 180);
}

.redButton:hover {
  background-color: darkred;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::after,
  *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
