.home-box {
  border-radius: 20px;
  background: rgb(56, 24, 65);
  background: radial-gradient(
    circle,
    rgba(119, 53, 66, 1) 0%,
    rgba(56, 37, 84, 0.5) 95%
  );
  height: 80vh;
  position: relative;
  top: 10vh;
}

.login-section {
  grid-area: one;
}

.big-text {
  grid-area: two;
  max-width: 100%;
}

.card-images-overlayed {
  grid-area: three;
}

@media (min-width: 20em) {
  .grid-layout-home {
    display: grid;
    height: 80vh;
    grid-template-areas:
      "one one"
      "three three"
      "two two ";
  }
}

@media (min-width: 35em) {
  .grid-layout-home {
    display: grid;
    height: 80vh;
    grid-template-areas:
      "blank-1 one one blank-2"
      "two three three three"
      "two three three three";
  }
}

@media (min-width: 50em) {
  .grid-layout-home {
    display: grid;
    height: 80vh;
    grid-template-areas:
      "blank-1 blank-2 one one"
      "two two three three"
      "two two three three";
  }
}

.card-images-overlayed {
  /* background-color: rgba(240, 248, 255, 0.621); */
  height: 100%;
  width: 60vw;
  display: grid;
  place-content: center;
}

.big-paragraph {
  font-size: 3vw;
  margin-bottom: 6vh;
  max-width: 20vw;
  margin-right: 0;
}

.credit-card {
  width: 300px;
}

.credit-card-content {
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 2s;
  height: 188px;
  transform-style: preserve-3d;

}

.credit-card:hover .credit-card-content {
  
  transform: rotateY(.5turn);
}

.credit-card-front,
.credit-card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em;
  backface-visibility: hidden;
}

.credit-card-front {
  background: rgb(208,31,79);
  background: linear-gradient(150deg, rgba(208,31,79,1) 25%, rgba(57,19,226,1) 59%);
  border-radius: 6px;
  border-top: 1px solid white;
  border-left: 1px solid white;

}

.credit-card-back {
  transform: rotateY(.5turn);
  background: rgb(74,74,74);
  background: linear-gradient(0deg, rgba(74,74,74,1) 25%, rgba(224,221,236,1) 78%);
  border-radius: 6px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.magnetic-strip {
  width: 299px;
  height: 40px;
  background: black;
  transform: translateX(-1.5em);
}

.credit-card-front {
  display: grid;
  grid-template-areas: 
  'b1 b2 b3 bank'
  'chip b4 b5 b6'
  'card-number card-number card-number card-number'
  'b7 exp-date b8 b9'
  'card-holder card-holder b10 b11'
  ;
}

.bank-name {
  grid-area: bank;
}

.bank-chip {
  grid-area: chip;
}

.card-number {
  grid-area: card-number;
}

.expiration-date {
  grid-area: exp-date;
}

.card-holder-name {
  grid-area: card-holder;
}

.credit-card-back {
  display: grid;
  grid-template-areas: 
  'magn magn magn magn'
  'sign sign sign cvc'
  'holo b1 b2 b3'
  ;
}

.magnetic-strip {
  grid-area: magn;
}

.signature-box {
  grid-area: sign;
}

.cvc-code {
  grid-area: cvc;
}

.hologram {
  grid-area: holo;
}
