@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anek+Malayalam:wght@300&family=Anton&family=Kdam+Thmor+Pro&family=Noto+Serif+Display:wght@500;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
.home-container {
  padding: 0;
  overflow-x: hidden;
}

.custom-shape-divider-top-1657278750 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1657291674 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1657291674 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1657291674 .shape-fill {
  fill: #ffffff;
}

.first-section {
  position: relative;
  min-height: 90vh;
}

.left-row-top {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 55vh;
  z-index: 3;
  margin-top: 5rem;
}

.yellow-underline {
  position: relative;
}

.yellow-underline::after {
  content: "";
  display: block;
  width: calc(100%);
  height: 3px;
  background-color: rgb(218,165,32);
  position: absolute;
  bottom: 0;
  left: -8vw;
}

.big-text {
  flex: 0 0 0%;
  padding-bottom: 1rem;
}

.big-text-paragraph {
  font-size: 3rem;
  padding-top: 1rem;
  font-family: "Noto Serif Display", serif;
}

.lower-paragraph {
  margin-top: 5px;
}

.left-row-bottom {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  z-index: 3;
}

.right-options {
  position: relative;
  z-index: 3;
}

.circle-box {
  margin-top: 5vh;
  height: 400px;
  width: 400px;
  border-radius: 200px;
  background: rgb(45, 223, 242);
  background: linear-gradient(
    180deg,
    rgba(45, 223, 242, 1) 0%,
    rgba(93, 239, 188, 1) 14%,
    rgba(75, 255, 174, 1) 24%,
    rgba(73, 169, 174, 1) 37%,
    rgba(32, 107, 194, 1) 49%,
    rgba(19, 87, 200, 1) 56%,
    rgba(95, 34, 139, 1) 81%,
    rgba(122, 20, 98, 1) 100%
  );
  box-shadow: 0px 0px 12px rgba(102, 222, 246, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-container .card-one {
  position: absolute;
  top: 35%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 140px;
  border-radius: 10px;
  transform: rotate(-15deg);
  z-index: 5;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.card-container .card-two {
  position: absolute;
  top: 25%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 140px;
  border-radius: 10px;
  transform: rotate(-30deg);
  z-index: 4;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2306FF11'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23038009'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.card-row-one {
  display: flex;
  justify-content: space-between;
  padding-top: 0.3rem;
  align-items: center;
}

.piccola-sfera {
  height: 30px;
  width: auto;
}

.card-row-two {
  display: flex;
  justify-content: flex-end;
  font-size: large;
}

.small-circels-container {
  position: relative;
}

.small-circels-container .circle-first {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #e48900;
  z-index: 6;
}

.small-circels-container .circle-second {
  position: absolute;
  top: 0;
  left: 35%;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #e7f704cf;
  z-index: 7;
}

button {
  font-size: larger;
}

.left-button {
  background-color: rgb(218,165,32);
  color: rgb(34, 34, 68);
  border: none;
}

.right-button {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.second-section {
  min-height: 60vh;
  background-color: white;
  color: black;
  position: relative;
  z-index: 3;
}

.second-sec-row {
  margin-left: 4vw;
  margin-right: 4vw;
}

.description {
  width: 45ch;
}

.big-yellow {
  color: #FFD700;
  font-size: 3rem;
  font-weight: bold;
}

.image-pc {
  height: 40vh;
  border-radius: 4px;
  overflow-y: hidden;
}

.image-pc img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

@media screen and (min-width: 1050px) {
  .left-row-top {
    margin-left: 10vw;
  }

  .yellow-underline::after {
    left: -10vw;
  }

  .risparmia {
    white-space: nowrap;
  }

  .small-screen {
    display: none;
  }
}

@media screen and (min-width: 606px) and (max-width: 1050px) {
  .first-section {
    min-height: 65vh;
  }

  .right-options {
    display: none;
  }

  .left-row-top {
    margin-left: 8vw;
  }

  .risparmia {
    white-space: nowrap;
  }

  .button-row {
    text-align: end;
    margin-right: 20vw;
  }

  .small-screen {
    display: none;
  }

  .lower-paragraph {
    width: 50ch;
  }
}

@media screen and (min-width: 0px) and (max-width: 606px) {
  .first-section {
    min-height: 60vh;
  }

  .custom-shape-divider-top-1657278750 {
    display: none;
  }

  .custom-shape-divider-bottom-1657291674 {
    display: none;
  }

  .right-options {
    display: none;
  }

  .big-text-paragraph {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    width: 100%;
  }

  .big-yellow {
    font-size: 2rem;
  }

  .button-col {
    text-align: center;
  }

  .large-screen {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .stat-left {
    margin-bottom: 2rem;
  }

  .image-pc {
    width: 98vw;
    height: 75vw;
  }

  .left-row-top {
    height: fit-content;
  }

  .left-row-bottom {
    justify-content: space-evenly;
  }

  .stat-left {
    max-height: 40vh;
  }

  .button-col {
    flex: 0 0 0%;
    margin-bottom: 5vh;
  }
}
