.home-box {
  border-radius: 20px;
  background: rgb(56, 24, 65);
  background: radial-gradient(
    circle,
    rgba(119, 53, 66, 1) 0%,
    rgba(56, 37, 84, 0.5) 95%
  );
  height: 80vh;
  position: relative;
  top: 10vh;
}

.login-section {
  grid-area: one;
}

.big-text {
  grid-area: two;
  max-width: 100%;
}

.card-images-overlayed {
  grid-area: three;
}

@media (min-width: 20em) {
  .grid-layout-home {
    display: grid;
    height: 80vh;
    grid-template-areas:
      "one one"
      "three three"
      "two two ";
  }
}

@media (min-width: 35em) {
  .grid-layout-home {
    display: grid;
    height: 80vh;
    grid-template-areas:
      "blank-1 one one blank-2"
      "two three three three"
      "two three three three";
  }
}

@media (min-width: 50em) {
  .grid-layout-home {
    display: grid;
    height: 80vh;
    grid-template-areas:
      "blank-1 blank-2 one one"
      "two two three three"
      "two two three three";
  }
}

.card-images-overlayed {
  /* background-color: rgba(240, 248, 255, 0.621); */
  height: 100%;
  width: 60vw;
  display: grid;
  place-content: center;
}

.big-paragraph {
  font-size: 3vw;
  margin-bottom: 6vh;
  max-width: 20vw;
  margin-right: 0;
}

.credit-card {
  width: 300px;
}

