<div class="grid-layout-home">
  <div class="big-text">
    <p class="big-paragraph">The Next Level</p>
    <p class="big-paragraph">Banking</p>
    <button class="btn btn-success" (click)="onSignUpNow()">
      Sign up now!
    </button>
  </div>
  <div class="card-images-overlayed">
    <app-credit-card></app-credit-card>
  </div>
  <div class="login-section mt-3">
    <button class="btn btn-warning" (click)="onUserLogin()">
      User Login <i class="fas fa-user-circle"></i>
    </button>
  </div>
</div>
