<div class="container-fluid home-container">
  <section class="first-section">
    <div class="light-blue"></div>
    <div class="row">
      <div class="col-lg-7 col-sm-12 left-options">
        <div class="row left-row-top">
          <div class="col big-text yellow-underline">
            <p class="big-text-paragraph risparmia">Risparmia e amministra</p>
            <p class="big-text-paragraph">il tuo denaro</p>
          </div>
          <div class="col button-col">
            <p class="lower-paragraph">
              Apri il tuo account gratis e ricevi un bonus
            </p>
            <div class="button-row">
              <button class="me-3 left-botton" (click)="onUserLogin()">Accedi</button>
              <button class="right-button" (click)="onSignUpNow()">Registrati</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 right-options">
        <div class="circle-box"></div>
      </div>
    </div>
    <div class="row left-row-bottom text-center fs-1 pb-1">
      <div class="col-1 me-2"><i class="fab fa-paypal"></i></div>
      <div class="col-1 me-2"><i class="fab fa-cc-visa"></i></div>
      <div class="col-1 me-2"><i class="fab fa-cc-mastercard"></i></div>
      <div class="col-1 me-2"><i class="fab fa-google-pay"></i></div>
      <div class="col-1"><i class="fab fa-cc-mastercard"></i></div>
    </div>
    <div class="custom-shape-divider-bottom-1657291674">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </section>
  <section class="second-section container-fluid">
    <div class="row second-sec-row">
      <h1>Le nostre Statistiche</h1>
      <div class="col-lg-7 col-sm-12 stat-left">
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Consectetur quidem voluptate mollitia, fugit ratione illo deleniti
            nemo cupiditate temporibus rerum!
          </p>
        </div>
        <div class="row text-center mt-5">
          <div class="col-4">
            <span class="big-yellow">3&percnt;</span>
            <br />
            <span> Lorem, ipsum. </span>
          </div>
          <div class="col-4">
            <span class="big-yellow">-12.5&percnt;</span>
            <br />
            <span>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </span>
          </div>
          <div class="col-4">
            <span class="big-yellow">+9.4&percnt;</span>
            <br />
            <span> Lorem ipsum dolor sit amet consectetur. </span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 image-pc">
        <img
          src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1115&q=80"
          alt="pc picture"
        />
      </div>
    </div>
  </section>
</div>
